<launch>
  <arg name="rviz" default="true"/>
  <arg name="error_coeff" default="0.0002"/>
  <arg name="limit_view_angle" default="65.0"/>
  <arg name="config" default="$(find nav_sim)/config/landmark_config.yaml"/>

  <node name="world_to_map" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 world map"/>

  <node name="nav_sim" pkg="nav_sim" type="nav_sim_node">
    <param name="error_coeff" value="$(arg error_coeff)"/>
    <param name="limit_view_angle" value="$(arg limit_view_angle)"/>
    <param name="config" value="$(arg config)"/>
  </node>

  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nav_sim)/rviz/nav_sim.rviz"/>
  </group>
</launch>
